.App {
  /* text-align: center; */
  height: 100%;
}

html, body {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: transparent;
  border-bottom: 0.25px solid #dadada;
}

ul {
  vertical-align: top;
}


.navbar-brand {
  color: #000000;
  font-family: 'Satisfy';
}

.nav-link {
  color: #212121;
}

.footer {
  background-color: #ffffff;
  color: #212121;

}
.title {
  font-size: 50px;
  color: #000000;
  font-family: 'Satisfy';
  font-weight: 550;
}

.lead {
  font-size: 16px;
  width: 400px;
  color: #212121;
  font-weight: 500;
}

.landing {
  position: relative;
  background: url('./img/polaroids.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landingBox {
  text-align: center;
  position: absolute;
  top: 200px;
  right: 0;
  left: 0;
  width: 500px;
  height: 520px;
  background-color: #f8f8f8;
  opacity: .9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2.5em;
  color: #212121;
}

hr {
  border: #212121 solid .2px;
}

.landingLogin {
  width: 400px;
  margin: auto;
  padding-bottom: .5em;
}

.signupDivider {
  padding-top: 1em;
  color: #212121;
}

.App {
  background: rgb(201,164,255);
  background: linear-gradient(0deg, rgba(201,164,255,1) 0%, rgba(243,231,255,1) 11%, rgba(255,255,255,1) 100%);
}

.register, .login, .profiles, .dashboard, .create-profile, .profile {
  height: 100vh;
}

.post, .feed {
  height: auto;
}

.registerBox, .loginBox, .dashboardBox {
  text-align: center;
  position: absolute;
  top: 150px;
  right: 0;
  left: 0;
  width: 800px;
  height: 650px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2.5em;
  color: rgb(240, 240, 240);
}

.registerTitle, .loginTitle, .dashboardTitle {
  color: black;
  font-size: 36px;
  padding-top: 20px;
}

.registerForm, .loginForm {
  padding-top: 30px;
}

.form-control {
  border: 0;
  border-radius: 0;
  background-color: #f8f8f8;
  border-bottom: #464646 1px solid;
  color: #212121;
  -webkit-tap-highlight-color: #424242;
  
}
.form-text {
  color: #212121;
}


textarea.form-control {
  color: #212121;
}

.btn {
  background-color: #a448ff;
  color: white;
}

.text-info {
  color: #cda8db !important;
}

.card {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.profilesName, .profilesInfo {
  text-align: left;
}

.rounded-circle {
  margin: 20px;
  width: 100px;
}

.profileCard {
  padding: 20px;
}

.profilesTitle {
  padding: 20px;
  text-align: center;

}

.profilesSubtitle {
  padding-bottom: 30px;
}

.deleteBtn {
  background-color: #ff6363;
}

.dashboardText {
  color: #212121;
}

.dashboardBox {
  height: 400px;
}

.d-block {
  padding: 10px;
  font-style: italic;
}

.create-profile {
  padding-top: 30px;
}

.aboutCard {
  color: #212121;
}

.bioText {
  padding-top: 20px;
  align-content: left;
}

.postHeader, .card-header {
  background-color: #a448ff;
  font-weight: 500;

}

.imgLink {
  margin-top: 20px;
  text-decoration: underline;
  font-size: 20px;
  align-content: left;
}

.captionText {
  align-content: left;
}

.backToFeed {
  align-content: left;
  text-align: left;
}

.userIcon {
  border-radius: 5px;
  margin-left: 10px;

}